# Define Git attributes (https://git-scm.com/docs/gitattributes)

# As per default as well as a fallback, we let Git handle line endings
# automatically for files detected as text.
* text=auto

# These files won’t be added to a possible download package.
.editorconfig      export-ignore
.gitattributes     export-ignore
.gitignore         export-ignore
CHANGELOG.md       export-ignore
CODE_OF_CONDUCT.md export-ignore
ISSUE_TEMPLATE.md  export-ignore

# The following settings are based on the work by Alexander Karatarakis. See
# https://github.com/alexkaratarakis/gitattributes/blob/master/Web.gitattributes

# Code
*.bat      text eol=crlf
*.coffee   text
*.css      text
*.html     text
*.htm      text
*.inc      text
*.ini      text
*.json     text
*.js       text
*.jsx      text
*.less     text
*.od       text
*.onlydata text
*.php      text
*.pl       text
*.py       text
*.rb       text
*.sass     text
*.scm      text
*.scss     text
*.sh       text eol=lf
*.sql      text
*.styl     text
*.tag      text
*.ts       text
*.tsx      text
*.xhtml    text
*.xml      text

# Documentation
*.markdown   text
*.md         text
AUTHORS      text
CHANGELOG    text
CONTRIBUTING text
COPYRIGHT    text
INSTALL      text
LICENSE      text
README       text
TODO         text

# Templates
*.dot        text
*.ejs        text
*.haml       text
*.handlebars text
*.hbs        text
*.hbt        text
*.jade       text
*.latte      text
*.mustache   text
*.njk        text
*.phtml      text
*.tmpl       text
*.tpl        text
*.twig       text

# Linters
.csslintrc    text
.eslintrc     text
.jscsrc       text
.jshintignore text
.jshintrc     text
.stylelintrc  text

# Configs
*.bowerrc       text
*.cnf           text
*.config        text
*.conf          text
*.dist          text
*.iml           text
*.npmignore     text
*.yaml          text
*.yml           text
.browserslistrc text
.editorconfig   text
.gitattributes  text
.gitconfig      text
.gitignore      text
.htaccess       text
browserslist    text
Makefile        text
makefile        text

# Images
*.ai   binary
*.bmp  binary
*.eps  binary
*.gif  binary
*.ico  binary
*.jng  binary
*.jp2  binary
*.jpeg binary
*.jpg  binary
*.jpx  binary
*.jxr  binary
*.pdf  binary
*.png  binary
*.psb  binary
*.psd  binary
*.svg  text
*.svgz binary
*.tif  binary
*.tiff binary
*.wbmp binary
*.webp binary

# Audio
*.kar  binary
*.m4a  binary
*.mid  binary
*.midi binary
*.mp3  binary
*.ogg  binary
*.ra   binary

# Video
*.3gp  binary
*.3gpp binary
*.as   binary
*.asf  binary
*.asx  binary
*.fla  binary
*.flv  binary
*.m4v  binary
*.mng  binary
*.mov  binary
*.mp4  binary
*.mpeg binary
*.mpg  binary
*.swc  binary
*.swf  binary
*.webm binary

# Archives
*.7z  binary
*.gz  binary
*.rar binary
*.tar binary
*.zip binary

# Fonts
*.eot   binary
*.otf   binary
*.ttf   binary
*.woff2 binary
*.woff  binary

# Executables
*.exe binary
*.msi binary
*.pyc binary

# Misc
*.lock text
*.log  text
*.url  text
