# Defining Git attributes (https://git-scm.com/docs/gitattributes)

# As per default, as well as a fallback, we let Git handle line endings
# automatically for files detected as text.
* text=auto

# These files won’t be added to download packages.
.editorconf        export-ignore
.gitattributes     export-ignore
.gitignore         export-ignore
.php_cs.cache      export-ignore
.php_cs.dist       export-ignore
.scrutinizer.yml   export-ignore
.styleci.yml       export-ignore
.travis.yml        export-ignore
CODE_OF_CONDUCT.md export-ignore
ISSUE_TEMPLATE.md  export-ignore
phpunit.xml.dist   export-ignore

# The following settings are based on the July 12th, 2022 release of
# https://github.com/alexkaratarakis/gitattributes/blob/master/Web.gitattributes
# by Alexander Karatarakis.

# Archives
*.7z  binary
*.gz  binary
*.jar binary
*.rar binary
*.tar binary
*.zip binary

# Audio
*.kar  binary
*.m4a  binary
*.mid  binary
*.midi binary
*.mp3  binary
*.ogg  binary
*.ra   binary

# Code
*.bash     text eol=lf
*.bat      text eol=crlf
*.cmd      text eol=crlf
*.coffee   text
*.css      text diff=css
*.html     text diff=html
*.htm      text diff=html
*.inc      text
*.ini      text
*.json     text
*.js       text
*.jsx      text
*.less     text
*.ls       text
*.map      text -diff
*.od       text
*.onlydata text
*.php      text diff=php
*.pl       text
*.ps1      text eol=crlf
*.py       text diff=python
*.rb       text diff=ruby
*.sass     text
*.scm      text
*.scss     text diff=css
*.sh       text eol=lf
*.sql      text
*.styl     text
*.tag      text
*.ts       text
*.tsx      text
*.xhtml    text diff=html
*.xml      text
.husky/*   text eol=lf

# Configs
*.cnf             text
*.config          text
*.conf            text
*.dist            text
*.iml             text
*.lock            text -diff
*.toml            text
*.yaml            text
*.yml             text
.editorconfig     text
.env              text
.gitattributes    text
.gitconfig        text
.htaccess         text
browserslist      text
Makefile          text
makefile          text
package-lock.json text eol=lf -diff
package.json      text eol=lf
pnpm-lock.yaml    text eol=lf -diff
yarn.lock         text -diff

# Docker
Dockerfile     text

# Documentation
*.ipynb      text
*.markdown   text diff=markdown
*.mdown      text diff=markdown
*.md         text diff=markdown
*.mdtext     text
*.mdtxt      text
*.mdwn       text diff=markdown
*.mkdn       text diff=markdown
*.mkd        text diff=markdown
*.txt        text
*COPYRIGHT*  text
*README*     text
AUTHORS      text
CHANGELOG    text
CHANGES      text
CONTRIBUTING text
COPYING      text
copyright    text
INSTALL      text
license      text
LICENSE      text
NEWS         text
readme       text
TODO         text

# Executables
*.exe binary
*.msi binary
*.pyc binary

# Fonts
*.eot   binary
*.otf   binary
*.ttf   binary
*.woff2 binary
*.woff  binary

# Heroku
Procfile text

# Images
*.ai   binary
*.bmp  binary
*.eps  binary
*.gif  binary
*.gifv binary
*.ico  binary
*.jng  binary
*.jp2  binary
*.jpeg binary
*.jpg  binary
*.jpx  binary
*.jxr  binary
*.pdf  binary
*.png  binary
*.psb  binary
*.psd  binary
*.svg  text
*.svgz binary
*.tif  binary
*.tiff binary
*.wbmp binary
*.webp binary

# Misc
*.log text
*.url text

# Templates
*.dot        text
*.ejs        text
*.erb        text
*.haml       text
*.handlebars text
*.hbs        text
*.hbt        text
*.jade       text
*.latte      text
*.mustache   text
*.njk        text
*.phtml      text
*.svelte     text
*.tmpl       text
*.tpl        text
*.twig       text
*.vue        text

# Video
*.3gp  binary
*.3gpp binary
*.as   binary
*.asf  binary
*.asx  binary
*.avi  binary
*.fla  binary
*.flv  binary
*.m4v  binary
*.mng  binary
*.mov  binary
*.mp4  binary
*.mpeg binary
*.mpg  binary
*.ogv  binary
*.swc  binary
*.swf  binary
*.webm binary

# RC files (like .babelrc or .eslintrc)
*.*rc text

# Ignore files (like .npmignore or .gitignore)
*.*ignore text
