<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
         colors="true"
         bootstrap="vendor/autoload.php">
    <testsuite name="PHP Client for Todoist Tests Suite">
        <directory suffix=".php">./tests/</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>

    <php>
        <env name="TODOIST_TOKEN" value=""/>
    </php>
</phpunit>
